body {
    font-family: 'Montserrat';
    width: 1440px;
    height: 2283px;
    margin: 0 auto;
    position: relative;
}

.header {
    width: inherit;
    height: 76px;
    margin: 0 auto;
    box-shadow: 0px -2px 0px 0px #EFF2F2 inset;
}

.header-container {
    display: flex;
}

.logo {
    width: 51px;
    height: 36px;
    margin-top: 20px;
    margin-left: 120px;
}

.header-nav {
    display: flex;
    position: absolute;
    margin-top: 30px;
    margin-left: 222px;
    max-width: 704px;
    max-height: 16px;
    gap: 30px;
}

.header-nav-href, .header-nav-submenu {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.header-nav-submenu {
    display: flex;
    gap: 8px;
}

.header-nav-submenu-icon {
    width: 14px;
    height: 14px;
    fill: none;
    margin-top: 3.9px;
}

.header-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    position: absolute;
    margin-top: 14px;
    margin-left: 1090px;
    max-width: 230px;
    max-height: 48px;
    border-radius: 4px;
    border-width: 0;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    background-color: #E3F5F5;
    color: #03B2A5;
    gap: 10px;
}


.header-burger-button {
    display: none;
    position: absolute;
    margin-top: 18px;
    margin-left: 708px;
    width: 40px;
    height: 40px;
    border-width: 0;
    background-color: #FFFFFF;
}

.header-burger-button-icon {
    width: 18px;
    height: 14px;
    fill: none; 
}

.main-top-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-middle-container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 24px;
    gap: 24px;
}

.main-article-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    max-height: 499px;
    gap: 24px;
}

.main-big-article {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 499px;
    min-width: 588px;
    min-height: 499px;
    max-width: 588px;
    max-height: 499px;
    overflow: hidden;
    border: 1px solid var(--border-color, #000000);
    border-radius: var(--border-radius, 16px);
    box-sizing: border-box;
}

.main-article-img {
    display: flex;
    flex-direction: row;
    height: 260px;
    min-height: 260px;
    max-height: 260px;
    overflow: hidden;
    gap: 0;
}

.main-little-article {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 475px;
    min-width: 384px;
    min-height: 475px;
    max-width: 384px;
    max-height: 475px;
    overflow: hidden;
    border: 1px solid var(--border-color, #C1C5CD);
    border-radius: var(--border-radius, 16px);
    box-sizing: border-box;
}

.breadcrumbs {
    display: flex;
    margin-top: 16px;
    margin-left: 126px;
    max-width: 108px;
    max-height: 18px;
    gap: 8px;
}

.main-breadcrumbs-href {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.25px;
    text-decoration: none;
    gap: 8px;
}

.header-nav-href:hover,
.header-button:hover, 
.header-nav-submenu-icon:hover {
    cursor: pointer;
}

h1 {
    display: flex;
    font-weight: 700;
    font-size: 48px;
    margin-left: 120px;
    max-width: 552px;
    max-height: 56px;
    gap: 16px;
}

.main-buttons-panel {
    display: flex;
    margin-left: 120px;
    max-height: 32px;
    gap: 8px;
}

.main-panel-button {
    display: flex;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #C1C5CD;  
    border-radius: 24px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
    gap: 4px;
}

.main-article-tag-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin-top: 5px;
    margin-left: 5px;
}

.main-article-tag {
    pointer-events: none;
    opacity: 0.7;
    width: max-content;
}
.main-article-tag::before{
    content: "";
    display: inline-block;
    background-image: url('resources/header/unicorn.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.main-panel-button:hover {
    border: 2px solid #16C8BB;
    cursor: pointer;
}

/* IPad Mini */
@media (max-width: 768px) {
    body {
        width: 768px;
        height: 3551px;
    }

    .logo {
        margin-left: 20px;
    }

    .header {
        box-shadow: none;
    }

    .header-nav {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-burger-button {
        display: flex;
    }
}

 /*IPad Pro*/ 
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        width: 1024px;
        height: 2242px;
    }

    .logo {
        margin-left: 32px;
    }

    .header {
        box-shadow: none;
    }

    .header-nav {
        margin-left: 115px;
        max-width: 627px;
        gap: 16px;
    }

    .header-button {
        margin-left: 762px;
    }
}
