body {
    font-family: 'Montserrat';
    width: 1440px;
    height: 2283px;
    margin: 0 auto;
    position: relative;
}

.header {
    width: inherit;
    height: 76px;
    margin: 0 auto;
    box-shadow: 0px -2px 0px 0px #EFF2F2 inset;
}

.header-container {
    display: flex;
}

.logo {
    width: 51px;
    height: 36px;
    margin-top: 20px;
    margin-left: 120px;
}

.header-nav {
    display: flex;
    position: absolute;
    margin-top: 30px;
    margin-left: 222px;
    max-width: 704px;
    max-height: 16px;
    gap: 30px;
}

.header-nav-href, .header-nav-submenu {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.25px;
    text-decoration: none;
}

.header-nav-submenu {
    display: flex;
    gap: 8px;
}

.header-nav-submenu-icon {
    width: 14px;
    height: 14px;
    fill: none;
    margin-top: 3.9px;
}

.header-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    position: absolute;
    margin-top: 14px;
    margin-left: 1090px;
    max-width: 230px;
    max-height: 48px;
    border-radius: 4px;
    border-width: 0;
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    background-color: #E3F5F5;
    color: #03B2A5;
    gap: 10px;
}

#header-object {
    display: flex;
    width: 100%;
    height: 76px;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#footer-object {
    display: flex;
    position: absolute;
    top: 1981px;
    width: 100%;
    height: 280px;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#footer-object-article {
    display: flex;
    position: absolute;
    top: 5707px;
    width: 100%;
    height: 280px;
    border: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header-burger-button {
    display: none;
    position: absolute;
    margin-top: 18px;
    margin-left: 708px;
    width: 40px;
    height: 40px;
    border-width: 0;
    background-color: #FFFFFF;
}

.header-burger-button-icon {
    width: 18px;
    height: 14px;
    fill: none; 
}

.main-top-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-middle-container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 24px;
    gap: 24px;
}

.main-article-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    max-height: 499px;
    gap: 24px;
}

.main-big-article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 588px;
    height: 499px;
    min-width: 588px;
    min-height: 499px;
    max-width: 588px;
    max-height: 499px;
    overflow: hidden;
    border: 1px solid var(--border-color, #000000);
    border-radius: var(--border-radius, 16px);
    box-sizing: border-box;
}

.main-article-img {
    display: flex;
    flex-direction: row;
    height: 260px;
    min-height: 260px;
    max-height: 260px;
    overflow: hidden;
    gap: 0;
}

.main-little-article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 384px;
    height: 475px;
    min-width: 384px;
    min-height: 475px;
    max-width: 384px;
    max-height: 475px;
    overflow: hidden;
    border: 1px solid var(--border-color, #C1C5CD);
    border-radius: var(--border-radius, 16px);
    box-sizing: border-box;
}

.main-button {
    cursor: pointer;
    margin-left: 629px;
    margin-top: 56px;
    width: 182px;
    height: 48px;
    background-color: #35B3A9;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0;
    color: #FFFFFF;
    padding: 12px, 16px;
    gap: 8px;
}

.breadcrumbs {
    display: flex;
    margin-top: 16px;
    margin-left: 126px;
    max-width: 536px;
    max-height: 18px;
    gap: 8px;
}

.main-breadcrumbs-href {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.25px;
    text-decoration: none;
    gap: 8px;
}

.header-nav-href:hover,
.header-button:hover, 
.header-nav-submenu-icon:hover,
.footer-input-button,
.footer-lowest-text,
.footer-circle-logo-img,
 .footer-sk-logo-img,
 .article-text-box-button {
    cursor: pointer;
}

h1 {
    display: flex;
    font-weight: 700;
    font-size: 48px;
    margin-left: 120px;
    max-width: 552px;
    max-height: 56px;
    gap: 16px;
}

.main-buttons-panel {
    display: flex;
    margin-left: 120px;
    max-height: 32px;
    gap: 8px;
}

.main-panel-button {
    display: flex;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #C1C5CD;  
    border-radius: 24px;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
    gap: 4px;
}

.main-article-tag-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin-top: 5px;
    margin-left: 5px;
    gap: 8px;
}

.main-article-tag {
    pointer-events: none;
    opacity: 0.7;
    width: max-content;
    gap: 4px;
}

.main-article-tag::before{
    content: "";
    display: inline-block;
    background-image: url('resources/header/unicorn.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.main-article {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 16px;
    color:#494949;
    gap: 8px;
}

.main-article-big-max-width { 
    max-width: 556px;
}

.main-article-little-max-width { 
    max-width: 352px;
}

.main-article-author {
    font-size: 12px;
}

.main-article-text {
    font-size: 14px;
}

.main-article-date {
    position: absolute;
    font-size: 12px;
    color: #868686;
}

.main-article-date-big-top {
    top: 465px;
}

.main-article-date-little-top {
    top: 441px;
}

h4 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color:#000000;
}

.main-panel-button:hover {
    border: 2px solid #16C8BB;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 302px;
    background-color: #2963A3;
}

.footer-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 120px;
    max-width: 1200px;
    max-height: 184px;
    gap: 93px;
}

.footer-info-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 184px;
}

.footer-info-menu-less-gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 486px;
}

.footer-href {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-h4{
    color: #FFFFFF;
}

.footer-input-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border-color: #9D9D9D;
    border-width: 1px;
    width: 384px;
    height: 48px;
}

.footer-input {
    border-width: 0px;
    width: 320px;
    border-radius: 4px;
    padding-left: 16px;
    font-size: 14px;
    font-family: inherit;
    border-color: #9D9D9D;
}

.footer-input-button {
    border-width: 0px;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background-color: #16C8BB;
}

.footer-input-button::before{
    content: "";
    display: inline-block;
    background-image: url('resources/footer/button_input.png');
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-rights-text {
    font-size: 12px;
    color: #FFFFFF;
    opacity: 70%;
}

.footer-logo-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.footer-logo-container-circle {
    gap: 18px;
}

.footer-sk-logo-img {
    width: 100px;
    height: 50px;
}

.footer-sk-logo-participant-img {
    margin-top: 19px;
    width: 113px;
    height: 20px;
}

.footer-circle-logo-img {
    margin-top: 20px;
    width: 32px;
    height: 32px;
}

.footer-line {
    height: 1px;
    width: 1200px;
    background: #9D9D9D;
    opacity: 30%;
    margin-top: 24px;
}

.footer-lowest-string-container {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: 120px;
    gap: 48px;
}

.footer-lowest-text {
    font-size: 14px;
    opacity: 70%;
    color: #FFFFFF;
    text-decoration: none;
}

.article-main-container {
    display: flex;
    flex-direction: row;
    gap: 228px;
}

.article-main-sub-container {
    display: flex;
    flex-direction: column;
}

.article-main-left-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: 54px;
    margin-left: 126px;
    gap: 16px;
}

.article-main-left-sub-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.article-page-h1 {
    max-width: 690px;
    max-height: 168px;
    margin: 0px;
    padding: 0px;
}

.article-author {
    font-size: 14px;
    color: #494949;
}

.article-main-img {
    width: 690px;
    height: 331px;
}

.article-main-content {
    width: 588px;
    height: 274px;
    color: #333333;
}

.article-main-list {
    list-style: none;
    padding-left: 0;
}

.article-main-list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    text-decoration: underline;
    line-height: 1.5;
}

.article-main-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url('resources/article/green_marker.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .article-main-sublist {
    list-style: none;
    padding-left: 0;
  }

  .article-main-sublist li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    text-decoration: underline;
    line-height: 1.5;
  }

  /* Убираем псевдоэлемент для вложенных li */
.article-main-sublist li::before {
    display: none;
}

.article-main-text {
    width: 690px;
    font-size: 16px;
}

.article-blue-notation {
    width: 690px;
    height: 162px;
    background-color: #F3F7FE;
    border-radius: 16px;
}

.article-blue-notation-container {
    margin: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.article-quotes-img {
    width: 55px; 
    height: 36px;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}

.article-blue-notation-text {
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    position: relative;
    z-index: 2;
}

.article-qlink-container {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 512px;
    background-color: #E6F0FD;
    border-radius: 16px;
    border-width: 0;
    margin-top: 88px;
    gap: 24px;
}


.article-qlink-img {
    width: 257px;
    height: 206px;
    margin-left: 12px;
    margin-top: 20px;
    object-fit: contain;
}

.article-text-box {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 162px;
    font-size: 14px;
    text-align: center;
    margin-left: 24px;
    gap: 8px;
}

.article-text-box-h2 {
    font-size: 18px;
    font-weight: bold;
}

.article-text-box-button {
    width: 234px;
    height: 48px;
    background-color: #35B3A9;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0;
    color: #FFFFFF;
    padding: 12px, 16px;
    margin-left: 24px;
}

.article-person-container {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 481px;
    background-color: #FFFFFF;
    border: 2px solid #DEDEDE;
    border-radius: 16px;
}

.article-person-img {
    width: 120px;
    height: 120px;
    margin-top: 24px;
    margin-left: 81px;
}

.article-tag-person-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin: 16px;
    gap: 8px;
}

.article-tag-person {
    display: inline-flex;
    pointer-events: none;
    width: max-content;
    align-items: center; 
    justify-content: center;
    font-size: 12px;
    height: 24px;
    background-color: rgba(243, 244, 248, 0.7);
    color: #000000;
    border-radius: 6px;
    box-sizing: border-box; 
    padding: 4px 8px;
    gap: 4px;
}

.article-person-info-block{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 16px;
}

.article-person-name {
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}

.article-person-post {
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}

.article-person-exp {
    display: inline-flex;
    font-size: 14px;
    gap: 4px;
    color: #A2A7B1;
    justify-content: center;
    align-items: center;
}

.article-person-hr {
    width: 250px;
    margin-top: 20px;
    background-color: #A2A7B1;
    opacity: 0.3;
}

.article-corner-gift-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 282px;
    height: 304px;
    border-radius: 24px;
    border: 2px solid #DEDEDE;
}

.article-corner-gift {
    width: 282px;
    height: 304px;
    border-radius: 24px;
    position: absolute;
    z-index: 1;
}

.article-corner-gift-text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 32px;
    z-index: 2;
    gap: 16px;
    font-size: 14px;
}

.article-corner-gift-text-h {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-weight: bold;
    color: #2963A3;
    align-items: baseline
}

.article-corner-gift-price {
    font-size: 24px;
    font-weight: bold;
}

.article-corner-gift-button {
    display: inline-block;
    margin: 0px;
    width: auto;
    align-self: flex-start;
    padding: 12px 24px;
}

.article-person-notes {

}

.article-person-notes-h5 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.article-gift-container {
    width: 290px;
    height: 292px;
}

.article-mid-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    color: #868686;
    gap: 16px;
}

.article-mid-img {
    width: 680px;
    height: 331px;
}

/* IPad Mini */
@media (max-width: 768px) {
    body {
        width: 768px;
        height: 3551px;
    }

    .logo {
        margin-left: 20px;
    }

    .header {
        box-shadow: none;
    }

    .header-nav {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-burger-button {
        display: flex;
    }
}

 /*IPad Pro*/ 
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        width: 1024px;
        height: 2242px;
    }

    .logo {
        margin-left: 32px;
    }

    .header {
        box-shadow: none;
    }

    .header-nav {
        margin-left: 115px;
        max-width: 627px;
        gap: 16px;
    }

    .header-button {
        margin-left: 762px;
    }
}
